<div class="container">
    <h1 class="u-text-align-c">Visual Regression test site</h1>
    <p>
    Vi har i pensum ikke dækket hvordan vi tester de visuelle elementer i vores sy-stemer, imens vi begge ser en efterspørgsel på vores arbejdspladser for at testedenne del af vores systemer. Vi har begge prøvet at overtaget gamle løsninghvor de visuelle elementers stylesheets var meget koblet sammen, en ændringet sted, førte ofte til ændringer mange steder p ̊a websitet, ofte med uheldigekonsekvenser. Vi finder det relevant i forhold til p ̊alidelighed at vi ved hvilkevisuelle ændringer der foretages.
    </p>
</div>