// Lists
//––––––––––––––––––––––––––––––––––––––––––––––––––
ul {
  list-style: circle inside;
}

ol {
  list-style: decimal inside;
  padding-left: 0;
  margin-top: 0;
}

ul {
  padding-left: 0;
  margin-top: 0;
  ul,
  ol {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%;
  }
}

ol {
  ol,
  ul {
    margin: 1.5rem 0 1.5rem 3rem;
    font-size: 90%;
  }
}

li {
  margin-bottom: 1rem;
}

%horizontal-list {
  ul {
    list-style-type: none;
    li {
      margin-bottom: 0;

      &:hover{
        a{
          color: #ccc;
        }
      }

      a {
        font-size: 1rem;
        text-decoration: none;
        color: #f9f9f9;
        letter-spacing: 0.5px;
        padding: 0;
        margin: 1rem 1.35rem;
        text-transform: uppercase;
        transition: all .3s ease;
      }
    }
  }
}