
<div class="container">
    <h1>Opret bruger</h1>
    
    <div class="row" style="margin-top:5rem;"> 
        <div class="six columns"> 
             {{> cookies/form}}
        </div>
        <div class="six columns"> 
            {{> cookies/terms}}
        </div>
    </div>
</div>
