
<div class="container">
    <div class="row"> 
        <div class="six columns"> 
            {{> cookies/terms}}
        </div>
        <div class="six columns"> 
            {{> cookies/form}}
        </div>
    </div>
</div>
