<form>
    <label for="name">Brugernavn</label>
    <input class="u-full-width" id="name" type="text" name="Name">

    <label for="email">E-mail</label>
    <input class="u-full-width" id="email" type="email" name="Email">

    <label for="sex">Vælg Køn</label>
    <select class="u-full-width" id="sex">
        <option value="1">Mand</option>
        <option value="2">Kvinde</option>
        <option value="3">Apache Helicopter</option>
    </select>

    <label class="">
        <input type="checkbox">
        <span class="label-body">Jeg accepterer betingelserne -></span>
    </label>

    <button class="button-secondary">Udfør</button>
</form> 