<div class="terms">
    <h2>Betingelser for oprettelse</h2>
    <ol start="1">
        <li>
            <strong>Introduction</strong>
        </li>
    </ol>
    <p>These Website Standard Terms and Conditions written on this webpage shall manage your use of this website. These Terms
        will be applied fully and affect to your use of this Website. By using this Website, you agreed to accept all terms
        and conditions written in here. You must not use this Website if you disagree with any of these Website Standard
        Terms and Conditions.</p>
    <ol start="2">
        <li>
            <strong>Intellectual Property Rights</strong>
        </li>
    </ol>
    <p>You are specifically restricted from all of the following</p>
    <ul>
        <li>publishing any Website material in any other media;</li>
        <li>selling, sublicensing and/or otherwise commercializing any Website material;</li>
        <li>publicly performing and/or showing any Website material;</li>
        <li>using this Website in any way that is or may be damaging to this Website;</li>
        <li>using this Website in any way that impacts user access to this Website;</li>
        <li>engaging in any data mining, data harvesting, data extracting or any other similar activity in relation to this Website;</li>
    </ul>
    <ol start="3">
        <li>
            <strong>No warranties</strong>
        </li>
    </ol>
    <p>This Website is provided “as is,” with all faults, and visual regression test tool express no representations or warranties,
        of any kind related to this Website or the materials contained on this Website. Also, nothing contained on this Website
        shall be interpreted as advising you.</p>
</div>