<div class="container">
    <h1>Interaktion</h1>

    <!-- Tab links -->
    <div class="tab">
        <button data-tab-id="tenderloin" class="tablinks active">London</button>
        <button data-tab-id="frankfurter" class="tablinks">Paris</button>
        <button data-tab-id="mignon" class="tablinks">Tokyo</button>
    </div>

    <!-- Tab content -->
    <div id="tenderloin" class="tabcontent active">
        <h3>Tenderloin</h3>
        <p>
            Capicola turducken kielbasa, jerky andouille meatloaf beef hamburger flank ground round doner 
            spare ribs ball tip short loin porchetta. Corned beef ribeye meatball ground round. Corned beef 
            pork tri-tip strip steak tail short ribs t-bone shankle ribeye ham hamburger venison leberkas 
            porchetta. Filet mignon pig short ribs, chuck meatloaf fatback turducken alcatra leberkas 
            shoulder bresaola corned beef ribeye. Short ribs t-bone pork chop bresaola.
        </p>
    </div>

    <div id="frankfurter" class="tabcontent">
        <h3>Frankfurter</h3>
        <p>
            Short ribs doner leberkas filet mignon chuck, beef ribs biltong sausage cupim ribeye. 
            Andouille shankle porchetta pork belly flank cow jerky filet mignon ground round meatball. 
            Meatloaf tongue brisket picanha fatback filet mignon sausage. Porchetta turducken hamburger 
            swine, ribeye sirloin boudin capicola filet mignon biltong. Bresaola strip steak rump 
            shoulder jowl tongue ham kielbasa sausage kevin frankfurter ribeye turkey ball tip corned 
            beef. Shoulder bresaola short ribs biltong sirloin.
        </p>
    </div>

    <div id="mignon" class="tabcontent">
        <div class="row">
            <div class="twelve columns">
                <h3>Mignon</h3>
            </div>
        </div>
        <div class="row">
            <div class="six columns">
                <p>
                    Shoulder strip steak short ribs shankle pork, pastrami short loin capicola sausage 
                    cow drumstick. Shoulder shank pig swine porchetta brisket ham drumstick rump venison 
                    andouille alcatra pork belly meatloaf strip steak. Shoulder tail brisket chuck 
                    tri-tip shankle. Sausage biltong strip steak swine burgdoggen fatback bresaola 
                    pancetta landjaeger frankfurter shankle. Hamburger shank pork belly corned beef 
                    jerky, biltong ham hock pastrami. Capicola ground round alcatra short ribs turkey 
                    pancetta, tri-tip jowl ham hock fatback porchetta.
                </p>
            </div>
            <div class="six columns">
                <p>
                    Kielbasa short ribs shankle, kevin bacon tenderloin picanha turducken cow. Tongue 
                    ham bacon strip steak meatball. Bacon pork loin ball tip shoulder cupim. Ground 
                    round shoulder cow fatback pork loin short loin meatball kielbasa hamburger ball tip 
                    rump capicola shankle.
                </p>
            </div>
        </div>
    </div> 
</div>