<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Visual regression testing</title>
    <meta name="description" content="A simple website for testing visual regression testing tools">
    <meta name="author" content="Jimmi Wenneberg, Rasmus Westfall Andersen">
</head>

<body>
     <div class="row">
        <nav class="nav-global column">
            <ul class="container">
                <li><a href="/">Home</a></li>
                <li><a href="/responsive">Responsive</a></li>
                <li><a href="/async">Async / SPA</a></li>
                <li><a href="/cookies">Cookies</a></li>  
                <li><a href="/interaction">Interaction</a></li>
            </ul>
        </nav>
    </div>

    <main>
        {{{yield}}}
    </main>

    <footer class="footer">
        <div class="container row">
            <div class="one-third column">
                &nbsp;
            </div>
            <div class="one-third column">
                <h2>Kontakt nogen</h2>
                <p>
                    Tri-tip pastrami t-bone, pork pork belly burgdoggen meatloaf doner cow landjaeger 
                    brisket.
                </p>
            </div>
            <div class="one-third column">
                <h2>Følg nogen her</h2>
                <p>
                    Meatball beef pancetta t-bone short ribs turducken beef ribs andouille buffalo 
                </p>
            </div>
        </div>
    </footer>
</body>
</html>

