.footer {
    background: #e8f9ef;
    padding: 3rem 0;
    margin: 3rem 0 0 0;
    min-height: 10rem;

    .column {
        padding: 2rem;
        
        h2 {
            font-weight: bold;
            font-size: 1.2rem;
            text-transform: uppercase;
        }
        p {
            font-size: 1rem;
        }
    }
}