.nav-global {
    background: #4dc47d;
    padding: 2rem 0;
    margin-bottom: 2rem;
    @extend %horizontal-list;
    ul {
        li {
            float: right;

            &:first-child{
                float: left;

                a{
                    margin-left: 0;
                    text-align: left;
                }
            }
        }
    }
}