.sidebar {
    padding: 2rem;
    margin-bottom: 2.5rem;

    /* Mobile first queries */
    background: #c9dff4;

    @media (min-width: 641px) {
        background: #3c4ba0;
    }

    @media (min-width: 1008px) {
        background: #9f459a;
    }

    p {
        margin-bottom: 0px;
    }
}