
.terms{
    font-size: 1rem;
    font-style: italic;
    color: $secondary-color;

    h2{
        font-size: 2rem;
        text-align: center;
        text-transform: uppercase;
    }

    ol{
        margin-bottom:1rem;
    }
}