<!-- .container is main centered wrapper -->
<div class="container">

    <h1>A simple page for proving the responsiveness of a visual regression testing generator</h1>

    <div class="row">
        <div class="three-thirds column">
            <p>
                Jerky salami strip steak burgdoggen. Kielbasa kevin flank meatloaf ball tip spare 
                ribs porchetta hamburger frankfurter brisket strip steak shank drumstick swine 
                salami. Pork belly venison t-bone corned beef pastrami, chuck beef ball tip pork 
                loin tail spare ribs andouille. Buffalo ham brisket shank, andouille swine strip 
                steak meatloaf shankle ham hock venison. Prosciutto beef boudin, sausage fatback 
                pork belly burgdoggen. Turkey rump shank cupim pig salami meatloaf t-bone short 
                ribs ground round drumstick. Cupim cow short ribs jowl, tongue buffalo pork 
                hamburger swine flank.
            </p>
        </div>

    </div>

    <div class="row">
        <div class="one-third column sidebar">
            <p>
                Bacon ipsum dolor amet shank rump meatball beef strip steak ball tip pancetta 
                short loin boudin meatloaf pork belly pork alcatra beef ribs. Beef ribs sirloin 
                pastrami flank chicken strip steak turducken kevin cow capicola tenderloin. Jowl 
                tri-tip flank, pork chop pig jerky tongue pork belly sausage turkey drumstick. 
                Tri-tip pastrami t-bone, pork pork belly burgdoggen meatloaf doner cow landjaeger 
                brisket.
            </p>
        
        </div>
        <div class="two-thirds column">
            <p>
                Brisket swine chicken rump tenderloin boudin, tongue hamburger. Doner kevin rump 
                turkey. Porchetta short loin tail jowl, leberkas chuck salami. Chuck frankfurter 
                andouille ground round. Corned beef boudin pork loin tenderloin pork belly 
                sausage ham hock short loin pork chop cupim shankle cow drumstick.
            </p>

            <p>
                Meatball beef pancetta t-bone short ribs turducken beef ribs andouille buffalo 
                ground round chuck brisket biltong rump cow. Fatback pastrami filet mignon 
                alcatra boudin kielbasa short loin swine leberkas bresaola ball tip andouille 
                pork chop meatloaf. Picanha brisket flank, pork leberkas pig cow buffalo 
                andouille tri-tip swine venison meatloaf. Sirloin bresaola buffalo, filet mignon 
                turducken tail sausage kielbasa brisket meatball. Pork filet mignon buffalo 
                tongue pig shankle jowl strip steak short loin cupim tenderloin boudin.
            </p>
        </div>
    </div>
</div>

<!-- Note: columns can be nested, but it's not recommended since Skeleton's grid has %-based gutters, meaning a nested grid results in variable with gutters (which can end up being *really* small on certain browser/device sizes) -->

