.async-navbar {
    background: #2a2f32;
    padding: 2rem 0;
    margin: 2rem 0;
    @extend %horizontal-list;

    ul.container {
        margin-left: 0;
        li {
            float: left;
        }
    }
}