.products-list {
    box-sizing: border-box;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: flex-start;

    li {
        width:20rem;
        height: 24rem;
        margin-bottom: 2rem;
        border: 1px solid #ccc;
        padding: 1rem 0 2rem 0;
        text-align: center;
        display: flex;
        flex-direction: column;
        border-radius: $global-radius;

        p, img {
            flex:1;
        }

        p{
            margin-bottom: 0;
        }

        img {
            width:14rem;
            align-self: center;
        } 

        button{
            flex: 0 0 38px;
            margin: 2rem 0 0 0;
            width: 11rem;
            align-self: center;
            transition: all .3s ease;

            &:hover{
                border-color: $theme-color;
            }
        }
    }
}