
<div class="container">

    <h1 class="async-header"></h1>

    <div class="row">
        <nav class="async-navbar">
            <ul class="container">
                <li><a href="/async">Alle produkter</a></li>
                <li><a href="/async/hvidevarer">Hvidevarer</a></li>
                <li><a href="/async/koekkenudstyr">Køkkenudstyr</a></li>
                <li><a href="/async/computer">Computer</a></li>
                <li><a href="/async/tv">TV</a></li>
            </ul>
        </nav>
    </div>

    <div class="row">
        <div class="column">
            <div class="async-content"></div>
        </div>
    </div>

</div>